@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    background-color: #0e1529;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.nav_list,
.socials_list {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    column-gap: 40px;
}

.nav_list {
    width: 90%;
}

.form_holder {
    max-width: 1000px;
    display: grid;
    gap: 30px;
    margin: 0 auto;
    backdrop-filter: blur(555px);
    grid-template-columns: 1fr 1fr;
}

.form_btn {
    text-align: right;
    padding-right: 100px;
}

.form_btn > button {
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #0099FE;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #0099FE;
}

.form_wrapper {
    background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.12) 1.85%, rgba(65, 48, 90, 0.12) 98.72%);
    backdrop-filter: blur(555px);
    border-radius: 35.0246px;;
}

.input_wrapper > input {
    background: #fff;
    border: 1px solid #E6EBF4;
    border-radius: 10px;
    /*height: 56px;*/
    max-width: 516px;
    margin: 20px 0;
    width: 90%;
    padding: 20px;
}

.input_wrapper > label {
    color: #fff;
    margin-left: 40px;
}

.text_area > textarea {
    width: 90%;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    height: 140px;
    padding: 20px;
}

.inputs {
    max-width: 516px;
}

.socials_list {
    /*width: 10%;*/
    column-gap: 27.33px !important;
}

.nft_item {
    transition: .2s;
}

.nft_item:hover {
    transform: scale(1.2);
}

.nav_item > a {
    color: #fff;
    text-decoration: none;
    transition: .2s;
}

.nav_item > a:hover {
    background: linear-gradient(103.91deg, #7F41BE 21.01%, #0099FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
    cursor: pointer;
    text-fill-color: transparent;
}

.footer_btn > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .2s;
}

.footer_btn > a:hover {
    color: #fff;
}

.logo_item > img {
    max-width: 150px;

}

.text_area > label {
    color: #fff;
    margin-left: 40px;

}

.nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.socials_item {
    width: 30px;
    height: 26.67px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.2s;
    cursor: pointer;
}

.button_wrapper {
    text-align: center;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
}

.founder {
    text-align: center;
}

p {
    color: #fff;
    text-align: center;
}

.telegram {
    background-image: url("./assets/img/icons/telegram.svg");
}

.telegram:hover {
    background-image: url("./assets/img/icons/telegram_white.png");
}

.twitter {
    background-image: url("./assets/img/icons/twitter.svg");
}

.twitter:hover {
    background-image: url("./assets/img/icons/twitter_white.png");
}

.discord {
    background-image: url("./assets/img/icons/Group.svg");
}

.discord:hover {
    background-image: url("./assets/img/icons/discrod_white.png");
}

.nav:after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-color: #0099fe;
}

.logo_img {
    max-width: 380px;
    height: 197px;
    width: 100%;
}

.logo_wrapper {
    max-width: 1240px;
    margin: 49px auto;
}

.logo_wrapper > img {
    display: block;
}

.header_container {
    max-width: 100%;
    background-size: cover;
    margin: 0 auto;
    height: 672px;
    background-image: url("./assets/img/header.png");
}

.text {
    color: #fff;
    text-align: center;
}

.title {
    font-size: 4rem;
    padding-top: 30px;
    color: #0099fe;
    text-align: center;
}

.footer_controls {
    display: flex;
    align-items: center;
    padding: 60px 0 10px 0;
    justify-content: space-between;
}

.footer_container > p {
    color: #0099fe;
    font-size: 14px;
    text-align: left;
}

/*.footer_controls::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: -10px;*/
/*    height: 2px;*/
/*    width: 100%;*/
/*    background: #0099fe;*/
/*}*/

.footer_btn > a {
    background: transparent;
    color: #0099fe;
    font-size: 24px;
    border: none;
}

.main_btn {
    background: linear-gradient(103.91deg, #7f41be 21.01%, #0099fe 100%);
    border-radius: 10px;
    padding: 19px 40px;
    border: 1px solid transparent;
    transition: .2s;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    letter-spacing: 1.5px;
    max-width: 236px;
}
.small_btn{
    background: linear-gradient(103.91deg, #7f41be 21.01%, #0099fe 100%);
    border-radius: 10px;
    padding: 8px 10px;
    transition: .2s;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 1.5px;
    border: none;
    max-width: 236px;
}

.btn_wrapper {
    text-align: center;
    margin-top: 40px;
}
.card{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, .7);
}
.pop_img{
    width: 100%;
}
.card-image{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    transform: translateY(40%);
    height: 500px;
}
.close_image{
    background: #0099fe;
    border-radius: 50%;
    border: none;
    height: 40px;
    padding: 4px;
    color: #fff;
    cursor: pointer;
    width: 40px;
    font-size: 30px;
    transition: .2s;
}
.card_text{
    color: #111;
}
.card_info{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #111;
}
.close_image:hover{
    color: #fff;
    background: #7f41be;
}
.close_image{
    position: absolute;
    top: -10px;
    right: -10px;
}
.add_btn {
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    transition: .2s;
    line-height: 22px;
    border: 1px solid #0099FE;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #0099FE;
    cursor: pointer;
}

.add_btn:hover {
    color: #fff;
    border: 1px solid #fff;
}

.partners_logo {
    margin-top: 67.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nft_wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 67.5px;
}

.close_nav {
    display: none;
}

@media (max-width: 1440px) {
    .header_container {
        max-width: 1440px;
    }
}

.mob_nav {
    display: none;
}

.none {
    display: none;
}

.open_btn {
    display: none;
}

.main_btn:hover {
    border: 1px solid #fff;
}

@media (max-width: 762px) {
    .open_btn {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .card-image{
        transform: translateY(10%);
        width: 90%;
    }

    .footer_btn > a {
        font-size: 20px;
    }

    .footer_btn {
        text-align: center;
    }

    .logo_wrapper {
        padding: 30px;
    }

    .logo_img {
        max-width: 120px;
        height: 60px;
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .header_container {
        background-size: cover;
        /*position: relative;*/
        background-repeat: no-repeat;
        background-position: 80%;
    }



    .nft_wrapper {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        text-align: center;
    }

    .mob_nav {
        display: block;
    }

    .form_holder {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .container {
        padding: 30px;
    }

    .title {
        font-size: 2rem;
    }

    .desktop {
        display: none;
    }

    .nav_list {
        display: block;
        visibility: visible;
        padding: 50px;
        background: rgba(0, 0, 0, .8);
        backdrop-filter: blur(20px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        margin: 0;
    }

    .socials_list{
        position: absolute;
        z-index: 2;
        margin: 50px auto;
        text-align: center;
        padding-left: 30px;
        bottom: 0;
    }

    .close_nav {
        display: block;
        z-index: 2;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
    }

    .nav_item {
        margin: 30px;
    }

    .close_nav > button {
        font-size: 34px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        background: none;
        transition: .3s;
        color: #0099fe;
    }
    .close_nav > button:hover{
        color: red;
    }

    .partners_logo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.igor,
.julia {
    max-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.igor {
    background-image: url('./assets/img/founders/igor.jpg');
    text-align: center;
    margin: 0 auto;
    background-size: cover;
}

.julia {
    background-image: url('./assets/img/founders/julia.jpg');
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

.founders_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;
}

.social {
    padding-left: 0;
}

.social > li > a {
    color: #fff;
    font-size: 30px;
    transition: .2s;
    cursor: pointer;
}

.social > li > a:hover {
    color: #0099fe;
}

.social > li {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin: 0 5px;
    text-align: center;
}

@media (max-width: 600px) {
    .founders_wrapper {
        grid-template-columns: 1fr;
    }

    .button_wrapper {
        flex-direction: column;
    }

    .button_wrapper > img {
        margin: 10px auto;
    }

}

.nav_button {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, #0099fe 0%, #0099fe 100%);
    background-size: 50px 4px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s background;
    border: none;
    font-size: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    /* When open */
}

.nav_button:before, .nav_button:after {
    content: "";
    position: absolute;
    top: 35px;
    left: 25px;
    width: 50px;
    height: 4px;
    background: #0099fe;
    transition: 0.2s transform;
    transform-origin: 8px 7px;
}

.nav_button:after {
    top: 63px;
    transform-origin: 8px -5px;
}

.nav_button.is-open {
    background-size: 0px 2px;
}

.nav_button.is-open:before {
    transform: rotate(45deg);
}

.nav_button.is-open:after {
    transform: rotate(-45deg);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #0099fe;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0099fe transparent transparent transparent;
}

.founder_img {
    position: relative;

}

.founder_img:after {
    position: absolute;
    top: -5%;
    border-radius: 50%;
    left: -5%;
    backdrop-filter: drop-shadow(30px 10px 4px #4444dd);
    content: '';
    height: 110%;
    z-index: -1;
    width: 110%;
    background: #0099fe;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

#collection {
    text-align: center;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
